*

/memory/

!.gitignore
!README.md
!README_FR.md

!docs/
!docs/**

!.jarbage/
!.jarbage/**

!.github/
!.github/workflows/
!.github/workflows/**

!src/
!src/**

!build.gradle.kts
!settings.gradle.kts

!amethyst-simulation/
!amethyst-simulation/build.gradle.kts
!amethyst-simulation/src/
!amethyst-simulation/src/**

!gradle/
!gradle/wrapper/
!gradle/wrapper/**
!gradlew

!gradlew.bat
